@charset "utf-8";

html {
  font-size:62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  font-size:1.7rem;
  font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  width:100%;
}

header{
  background: #151515 url('../product/pro_picture/book-707387_1920.jpg') no-repeat fixed left bottom;
  background-size: cover;
  color:#fff;
  padding:170px 30px 80px;
}

main{
  text-align :center;
  padding :50px 30px;
}

footer{
  position:relative;
  background: #151515 url('../product/pro_picture/book-707387_1920.jpg') no-repeat fixed left bottom;
  background-size: cover;
  color:#fff;
  width:100%;
  height:200px;
  padding:12px 0;
  font-size:2.3rem;
}

h1 {
  font-size: 4.0rem;
}

dt, p {
  display:inline-block;
  padding:20px 30px;
  border-radius:20px;
  font-size:2.0rem;
}

a {
  text-decoration:none;
}

a:hover {
  opacity:0.85;
}

img{
  width:200px;
  height:250px;
  margin: 30px 10px;
}

table{
  width:900px;
  margin: 10px auto;
  padding:50px 50px;
  border-radius:20px;
}

td {
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 10px 10px;
  font-weight: bold;
}

input {
  border: 2px solid;
}

/* floatとclearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.left {
  width: 450px;
  float: left;
}

.right {
  width: 250px;
  float: left;
}

/* 太字 */
.bold {
  font-weight: bold;
}

/* 下線 */
.border-bottom {
  border-bottom: 3px dashed #ccc;
}

/* ボタン */
.button {
  display: inline-block;
  max-width: 260px;
  text-align: left;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
}

.button:active {
  transform: translateY(4px);
  border-bottom: none;
}

.white {
  background-color: #FFF;
  color: #000;
  border-bottom: 4px solid #EEEEEE;
}

.black {
  background-color: #222222;
  color: #FFF;
  border-bottom: 4px solid #000;
}

/* 見出し(h2) */
.heading {
  display: inline-block;
  position: relative;
  letter-spacing: 2px;
  font-size: 3.0rem;
  padding-bottom: 15px;
}

.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}

.heading::before {
  bottom: 5px;
}

/* footer */
.footer-content {
  position:absolute;
  top:50%;
  right:40%;
  margin:auto;
}

/* shop_card */
.stripe-button-el {
  width: 350px;
  max-width: 100%;
}

.stripe-button-el span {
  font-size: 18px;
  padding-top: 15px;
  min-height: 60px!important;
}

/* cartlook */
.total-and-number {
  margin: 0 auto;
  padding-bottom: 20px;
  width:900px;
  color: #fff;
  background-color: #222222;
  border-radius:20px;
}

/* form */
.customer-form {
  font-size: 1.8rem;
  width: 700px;
  margin: -80px auto 0;
}

/* form-check */
.customer-form-check {
  font-size: 1.8rem;
  width: 700px;
  margin: -40px auto 0;
}

.form-title::before,
.form-title::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 2px;
  margin: 0 30px;
  background-color: #000;
  vertical-align: middle;
}

/* kantan-check */

.customer-info {
  font-size: 2.5rem;
  width: 700px;
  margin: -120px auto 30px;
}

/* shop-list */
.book-lists {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin: 100px auto;
}

.book-list {
  width: 25%;
  border: 4px solid #333333;
  border-radius: 10px;
  margin: 50px 30px;
}

/* product */
.product-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width:700px;
  color: #fff;
  background-color: #222222;
  border-radius:20px;
}
